Session #1 Homework

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

Question 1: Version of NumPy

In [3]:
np.__version__

'1.22.3'

Question 2: Number of records in the dataset

In [4]:
num_of_records = data.shape[0]
num_of_records

11914

Question 3: The most popular car manufacturers

In [5]:
list(data['Make'].value_counts()[:3].index)

['Chevrolet', 'Ford', 'Volkswagen']

task # 4 Number of unique Audi car models

In [6]:
num_of_unique = len(data[data["Make"] == 'Audi']['Model'].unique())
num_of_unique

34

task # 5: Number of columns with missing values

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [14]:
null_values = data.isna().sum()
num_of_cols = len(null_values[null_values > 0])
num_of_cols

5

5 columns have missed values

task # 6: Does the median value change after filling missing values?

In [15]:
median = data["Engine Cylinders"].median()
median

6.0

In [16]:
mode = data["Engine Cylinders"].mode()[0]
mode

4.0

In [17]:
data["Engine Cylinders"].fillna(mode, inplace=True)

In [18]:
median_new = data["Engine Cylinders"].median()
median_new

6.0

Median value didn't changed

task # 7: Value of the first element of w

In [19]:
Lotus_cars = data[data["Make"] == "Lotus"]

In [20]:
chosen_cols = Lotus_cars[["Engine HP", "Engine Cylinders"]]

In [21]:
X = np.array(chosen_cols.drop_duplicates())

In [22]:
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [23]:
XTX = X.T @ X

In [24]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [25]:
w = (np.linalg.inv(XTX) @ X.T) @ y

In [27]:
w[0]

4.594944810094551